<!-- Blog Post -->
<!-- Title -->
<h1>{{ post_title }}</h1>

<!-- Author -->
<p class="lead">
    by <a href="#">{{ post_author }}</a>
</p>

<hr>

<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> {{ post_date }}</p>

<hr>

<!-- Preview Image -->
<img class="img-responsive" src="{{ post_image }}" alt="">

<hr>

<!-- Post Content -->
<div>
    {{ post_content }}
</div>

<hr>